
/* todo el cuerpo */
.body{
	width:100%;
	background: #f2f2f2;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.panels{
	width: 100%;
	border-radius: 7px;
	border: 1px solid #ccc;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* todo lo del pie de pagina */
footer {
	background: #2c3e50;
	color: #fff;
}